@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #f7f7f7;
    --secondary: #ffffff;
    --accent: #3a7bfd;
    --neutral: #393a4c;
    --base100: #e5e0df;
  }
  [data-theme="dark"] {
    --primary: #161722;
    --secondary: #25273c;
    --accent: #3a7bfd;
    --neutral: #e4e5f1;
    --base100: #e5e0df;
  }

  body {
    font-size: 18px;
    line-height: 1.5;
    font-family: "Josefin Sans", sans-serif;
    overflow-x: hidden;
    background-color: var(--primary);
  }

  .header {
    background-image: url("./assets/bg-mobile-light.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header.active {
    background-image: url("./assets/bg-mobile-dark.jpg");
  }

  @media (min-width: 800px) {
    .header {
      background-image: url("./assets/bg-desktop-light.jpg");
    }
    .header.active {
      background-image: url("./assets/bg-desktop-dark.jpg");
    }
  }

  .switch-container {
    background-image: url("./assets/icon-moon.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .switch-container.active {
    background-image: url("./assets/icon-sun.svg");
  }

  .check-circle.active {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  }

  .check-icon.active {
    background-image: url("./assets/icon-check.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .add-btn {
    background-image: url("./assets/send-plane-2-line-1.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .todo-item-right {
    background-image: url("./assets/icon-cross.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
